.shopping-cart, .plus-circle{
    font-size:1.4rem;
}
.plus-circle{
  margin-left: 20px;
  margin-right: 20px;
}
.trash{
    font-size: 1.3rem;
    color: rgb(207, 204, 204);
}
.caret-up, .caret-down{
  font-size: 1.1rem;
  cursor: pointer;
  color: rgb(74, 95, 105);
}
.external{
  font-size: 0.7rem;
}