.hamburger-header-items{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 50px;
    position: relative;
}
.header-hamburger-btn{
    font-size: 1.5rem;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
    background-color: rgb(105, 121, 126);
    color: whitesmoke;
    box-shadow: 1px 1px 1px rgba(105, 121, 126,0.3);
    border-radius: 1px;
    align-self: flex-end;
    margin-top: -25px;
    outline: none;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 2050;
}
@media (max-width:600px){
    .header-hamburger-btn{
        width: 45px;
        height: 45px;
    } 
}
#sidebar-list{
    background-color: whitesmoke;
    height: 85vh;
    width: 150px;
    position: absolute;
    z-index: 2000;
    left: 0;
    margin-top: -2px;
}
.hamburger-navbar{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin: auto;
    height: 40%;
    margin-top: 50px;
    width: 80%;
}
.hamburger-navbar-link{
    cursor: pointer;
    color: rgb(87, 9, 9);
    padding-bottom: 5px;
}

.addTransiton{
    transform: translateX(-170px);
    transition: transform 0.5s ease-in-out;
}
.removeTransition{
    transform: translateX(-20px);
    transition: transform 0.5s ease-in-out;
}
