.home-section{
    min-height: 550px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
    box-shadow: 1px 1px 1px 2px rgba(75, 121, 133, 0.3);
    border-right:1px solid rgba(75, 121, 133, 0.3);
    border-left: 1px solid rgba(75, 121, 133, 0.3);
}

 #Paintings, #Tapestry{
    background-color: rgb(223, 219, 219);
    box-shadow: 1px 1px 1px 5px rgba(163, 163, 163, 0.4);
}
#Embroidery{
  box-shadow: 1px 1px 1px 1.5px rgba(163, 163, 163, 0.4);
}
.home-section#Embroidery{
    margin-bottom: 30px;
 }
.see-all{
    margin-left:10%;
    position: absolute;
    right: 0;
    left:10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 10;
    bottom: 10px;
}
.see-all a {
    border-bottom: 1.5px solid rgba(88, 18, 18, 0.856);
    border-top: 1.5px solid rgba(88, 18, 18, 0.856);
    color:rgba(88, 18, 18, 0.856);
    font-size: 0.95rem;
    font-weight: bolder;
    -webkit-transition-property: border-bottom;
    transition-property: border-bottom;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; 
    padding: 5px;
}

.see-all a:hover{
    border-top: 1.5px solid transparent;
    -webkit-transition-property: border-top;
    transition-property: border-top;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; 
}

@media (max-width:900px){
    .see-all {
        bottom: 10px;
    } 
    #Embroidery{
        padding-bottom: 60px;
    }
    .Embroidery-link {
        padding-bottom: 60px;
    }
}

